<!DOCTYPE html>
<html lang="en-US">

<head>
  {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Car Ledger</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <style>
    .reg-log {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Car Ledger</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/register">Register</a>
          <a class="nav-link" aria-current="page" href="/login">Login</a>
        </div>
      </div>
    </div>
  </nav>

  <div>
    
    
    <form action="" method="POST">
      {{ form.media }}
      {% csrf_token %}
      <div class="d-flex justify-content-evenly">
        <div class="col-md-5">
          <h2 class="mb-4">Vehicle Information</h2>
          <div class="col-md-12">
            <label for="uniqueID">Unique ID</label>
            <input id="uniqueID" class="form-control" name="uniqueID" type="text">
          </div>
        </div>
        <div class="col-md-5">
          <h2 class="mb-4">User Information</h2>
          <div class="col-md-12">
            <label for="aadhar">Aadhar Number</label>
            <input id="aadhar" class="form-control" name="aadhar" type="text">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-evenly mt-5">
        <input type="submit" class="btn btn-primary btnmedium" value="Submit">
      </div>
    </form>
    
  </div>

</body>

</html>