body {
	background: #eee;
}

.loginBox {
	height: 90vh;
	padding: 10px;
}

.loginBox2 {
	/* height: 90vh; */
	padding: 10px;
}

.loginCard {
	width: 350px;
	padding: 20px 15px;
	background: white;
}

.showVehicleInfoCard {
	width: 350px;
	padding: 20px 15px;
	background: white;
}

.loginContainer {
	display: flex;
	height: 90vh;
	align-items: center;
}

.con {
	min-height: 89vh;
}

.line {
	width: 20%;
	height: 1px;
	background: gray;
	margin-bottom: 10px;
}
.line30 {
	width: 30%;
	height: 1px;
	background: gray;
	margin-bottom: 10px;
}
.updateBox {
	height: 90vh;
}
.updateBoxAligner {
	width: 250px;
}

.qrCode {
	padding: 5px;
	border: 1px solid gray;
}
