body {
	background: #eee;
}

.loginBox {
	height: 90vh;
	padding: 10px;
}

.loginCard {
	width: 350px;
	padding: 20px 15px;
	height: 40vh;
	background: white;
}

.con {
	min-height: 89vh;
}

.line {
	width: 20%;
	height: 1px;
	background: gray;
	margin: auto;
	/* margin-bottom: 10px; */
}
